/* src/Events.module.css */
.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .enlargedPhotoFullScreen {
    max-width: 90vw; /* 可以根据需要调整最大宽度 */
    max-height: 90vh; /* 可以根据需要调整最大高度 */
    object-fit: contain;
    cursor: pointer;
  }
  